<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<notifications newPostNotificationTemplateId="f72bab21-022e-6053-9cf5-ff0000b578e3" newThreadNotificationTemplateId="f82bab21-022e-6053-9cf5-ff0000b578e3" />
</forumsConfig>