<?xml version="1.0" encoding="utf-8"?>
<librariesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0">
	<images>
		<thumbnails>
			<thumbnails>
				<add title="Custom" MaxWidth="200" MaxHeight="200" ScaleUp="False" Quality="High" method="ResizeFitToAreaArguments" default="False" name="custom" />
			</thumbnails>
		</thumbnails>
	</images>
</librariesConfig>