<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5820.0" projectName="SPAProject" dateCreated="2015-12-04 13:45:40Z">
	<defaultSite id="e5482c0b-e9aa-4c60-a64b-203a453dbd94" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" homePageId="8340ab21-022e-6053-9cf5-ff0000b578e3" />
</projectConfig>